<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="inpId">Id:</label>
    <div class="input-group mb-3"><input type="text" id="inpId" [(ngModel)]="employee.employeeId"></div>

    <label for="inpName">Name:</label>
    <div class="input-group mb-3"><input type="text" id="inpName" [(ngModel)]="employee.firstName"></div>

    <label for="inpLastName">Last name:</label>
    <div class="input-group mb-3"><input type="text" id="inpLastName" [(ngModel)]="employee.lastName"></div>  

    <label for="inpEmail">Email:</label>
    <div class="input-group mb-3"><input type="text" id="inpEmail" [(ngModel)]="employee.email"></div>

    <label for="inpPassword">Phone:</label>
    <div class="input-group mb-3"><input type="text" id="inpPassword" [(ngModel)]="employee.phone"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addEmployee()">Save</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">ADD</button>